@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", Georgia, serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  max-width: 100%;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
  max-width: 100%;
  position: relative;
}